<ion-view id="userMessagesView"
          cache-view="false" 
          view-title="{{params.toName}}">
        
        <div class="loader-center" ng-if="!doneLoading">
            <div class="loader">
              <i class="icon ion-loading-c"></i>
            </div>
        </div>
      
          <ion-content has-bouncing="true" class="has-header has-footer" 
              delegate-handle="userMessageScroll">
            
              <div ng-repeat="message in messages" class="message-wrapper"
                  on-hold="onMessageHold($event, $index, message)">
      
                  <div ng-if="params.userId !== message.userId">
                            
                      <div class="chat-bubble left">
      
                          <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                          </div>
      
                          <div class="message-detail">
                              <span ng-click="viewProfile(message)" 
                                  class="bold">{{message.name}}</span>,
                              <span am-time-ago="message.date"></span>
                          </div>
      
                      </div>
                  </div>
      
                  <div ng-if="params.userId === message.userId">
                   
                      <div class="chat-bubble right">
      
                          <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                          </div>
      
                          <div class="message-detail">
                              <span ng-click="viewProfile(message)" 
                                  class="bold">{{message.name}}</span>, 
                              <span am-time-ago="message.date"></span>
                          </div>
      
                      </div>
                    
                  </div>
      
                  <div class="cf"></div>
      
              </div>
          </ion-content>
      
          <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
              <div class="row bar bar-footer" keyboard-attach>
                      <textarea class="col col-80 add-post-text" ng-model="input.message" value="" placeholder="Send {{params.toName}} a message..." required msd-elastic></textarea>
                    <button class="col send-button button button-icon icon-center button-clean ion-android-send" type="submit"
                        ng-disabled="!input.message || input.message === ''">
                    </button>
              </div>
          </form>
          
      </ion-view>