<!-- <ion-header-bar class="bar-positive">
   <h1 class="title">Sign In</h1>
</ion-header-bar>
<ion-content class="has-header padding">
   <div class="list">
      <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="text" ng-model="user.email">
      </label>
      <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" ng-model="user.password">
      </label>
      <label class="item item-input">
      <button class="button button-block button-positive" ng-click="validateUser()">
      Sign In
      </button>
      </label>
   </div>
</ion-content>
 -->
<ion-view title="Home">
<ion-content class="has-header home">
<div class="row">
   <div class="col" style="text-align:right;">
<button class="button icon ion-ios-people button-positive button-clear" ng-click="showUsers()"></button>

   </div></div>
   <div class="row"><div id="logo" class="col center"><h1><span><i class="icon ion-leaf balanced"></i><i class="icon ion-university positive"></i></span></h1><h4><span>Green</span><span>Ed</span></h4><div>The Future of Education</div></div></div><form><div class="list list-inset"><label class="item item-input"><i class="icon ion-person positive"></i> <input class="custom-icon" type="text" ng-model="user.email" placeholder="Username"></label><label class="item item-input last"><i class="icon ion-locked positive custom-icon"></i> <input class="custom-icon" type="password" ng-model="user.password" placeholder="Password"></label><button class="button button-block button-positive" ng-click="validateUser()">Log in</button></div></form></ion-content></ion-view>