<ion-view cache-view="false" hide-nav-bar="true"><!--   <ion-nav-title>Test</ion-nav-title>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="prevMonth()"></button>
  </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-arrow-forward" ng-click="nextMonth()"></button>
  </ion-nav-buttons> --><ion-content><div class="wrapp"><flex-calendar options="options" events="events"></flex-calendar><div class="list cal-event-types"><a class="item item-icon-left" href="" ng-click="showEvents('exam')"><i class="icon ion-record positive"></i>Exams</a> <a class="item item-icon-left" href="" ng-click="showEvents('event')"><i class="icon ion-record balanced"></i>Events</a> <a class="item item-icon-left" href="" ng-click="showEvents('holiday')"><i class="icon ion-record assertive"></i>Holidays</a></div></div><br></ion-content></ion-view>