<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-view name="menuAppContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>
            <div class="side-menu-logo">
                <a class="logo">Hoss</a>
            </div>
            <ion-list class="sidebar list-no-border">
                <ion-item menu-close class="item-icon-left" ui-sref="app.category">
                    <i class="icon ion-home"></i>
                    Home
                </ion-item>
                <ion-item menu-close class="item-icon-left" ui-sref="app.category">
                    <i class="icon ion-clipboard"></i>
                    Menu
                </ion-item>
                <ion-item menu-close class="item-icon-left" ui-sref="app.category">
                    <i class="icon ion-star"></i>
                    Favorites
                </ion-item>
                <ion-item menu-close class="item-icon-left" ui-sref="app.profile">
                    <i class="icon ion-person"></i>
                    Profile
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
