<ion-view view-title="Profile">
    <ion-content id="page-profile" class="header-background" scroll="false">
        <ion-header-bar align-title="center">
            <div class="buttons">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </div>
            <h1 class="title">Profile</h1>
        </ion-header-bar>

        <div class="box">
            <div class="info">
                <div class="avatar">
                    <img src="img/avatar.jpg" alt="avatar" />
                </div>
                <h2 class="name">Beverly Williams</h2>
                <div class="position">UX/UI App Designer</div>
                <div class="links">
                    <div class="row">
                        <div class="col">
                            <div class="number">18</div>
                            <p>Followers</p>
                        </div>
                        <div class="col">
                            <div class="number">47</div>
                            <p>Following</p>
                        </div>
                        <div class="col">
                            <div class="number">10</div>
                            <p>Like</p>
                        </div>
                        <div class="col">
                            <div class="number">15</div>
                            <p>Favorites</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button ui-sref="app.category" class="button-follow button button-block button-outline button-light">
                            Folllow
                        </button>
                    </div>
                </div>

            </div>
        </div>


    </ion-content>
</ion-view>