<ion-view view-title="Shopping cart">
    <ion-header-bar align-title="center" class="bar-light">
        <ion-nav-bar align-title="center">
            <ion-nav-buttons>
                <button class="button button-clear button-icon" ng-click="goBack()" ><i class="ion-chevron-left"></i></button>
            </ion-nav-buttons>
        </ion-nav-bar>
    </ion-header-bar>
    <ion-content>
        <div class="cate-lv2">
            <div class="card cate-lv2-item" ng-repeat="product in carts">
                <div class="item item-thumbnail-left item-text-wrap">
                    <img ng-src={{product.img}} />

                    <h2>{{product.name}}</h2>

                    <p>{{product.lastText}}</p>
                    <div class="product-info">
                        <div class="price">{{product.price}}</div>
                        <p>x</p>
                        <input type="number" class="input-qty" placeholder="" value="{{product.qty}}" />
                        <a class="product-delete"><i class="ion-android-delete"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="total-prices">
            <strong>Subtotal</strong>
            <span>$453</span>
            <div class="clearfix"></div>
        </div>
        <div class="total-prices">
            <strong>Shipping</strong>
            <span>$5</span>
            <div class="clearfix"></div>
        </div>
        <div class="total-prices">
            <strong>Total</strong>
            <span>$458</span>
            <div class="clearfix"></div>
        </div>
        <div class="btn-checkout">
            <button class="button button-block button-balanced">
                Checkout
            </button>
        </div>
    </ion-content>
</ion-view>
