map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}
/* Empty. Add your own CSS if you like */
.list .item, .title {
  text-transform:capitalize;
  white-space: normal;
}
.list.card .item {
  text-transform: none;
}
.menu-list .item {
  font-size: 15px;
}
.filters .submit {
  padding: 0px;
  width: 92%;
  margin: 10px auto 0;
  border: 0;
}
.home .list .item {
  border-color: #7cb5ec;
  margin: 0 2px;
  border-width: 1px 1px 0;
}
.home .list .item.last {
  border-width: 1px;
}
.center {
    text-align: center;
}
.pointer {
  cursor: pointer;
}
.home .item-input .icon {
  padding: 0 10px 0 0;
  font-size: 20px;
}
.menu-open .ion-navicon:before {
  content: "\f2ca";
}
/*.bar .back-button + div.buttons-left {
  display: none;
}*/
.list .item .wall-title {
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  font-size: 40px;
}
.list .item.sub {
  padding-left: 10px;
}
/*.item-icon-left .icon {
 left: 5px;
}*/
.item .badge {
  right: 5px;
}
.item-radio input:checked ~ .radio-icon {
  color: #7cb5ec;
}
.item-radio input:checked ~ .item-content {
  background: #fcfcfc;
}
text {
  font-family: Helvetica;
}
.filters {z-index: -1000;}
.menu-left h1 {margin: 0;}
.filters .submit {padding: 0px;}
.grade-b .menu-content, .grade-c .menu-content {left: 0px; right: 0px; box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 2px rgba(0, 0, 0, 0.2);}
.menu-left {left: 1px;}
.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: 1;
  }
  .modal-backdrop-bg {
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
#profile-bg {
  position: fixed;
  left: 0;
  top: -150px;
  width: 100%;
  height: 150px;
  background: url(../img/bg.jpg) 100% 100%;
}
#profile-bg img, #profile-bg i {
  width: 100%;
  height: 100%;
}
#content {
  position: relative;
  margin-top: 150px;
  background-color: white;
  box-shadow: 0px -7px 10px rgba(0,0,0,0.4);
  padding-top: 125px;
}

#profile-info {
  position: absolute;
  top: -95px;
  width: 100%;
  z-index: 2;
  text-align: center;
}
#profile-name {
  color: #444;
  font-size: 26px;
  text-transform: capitalize;
}
#profile-description {
  font-size: 15px;
  color: #888;
}
#profile-description a {
  color: #888;
}

/*#profile-image {
  display: block;
  border-radius: 150px;
  border: 1px solid #f6f6f6;
  width: 128px;
  height: 128px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  font-size: 112px;
  background: #fff;
}*/
#profile-image img, #profile-image i.picon {
    border-radius: 50%;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
    width: 130px;
    margin-left: 16px;
    vertical-align: middle;
}
#profile-image i.picon {
    font-size: 130px;
    background: #fff;
    padding: 0 20px;
}
#profile-image .icon.picon::before {
    width: auto;
    border: 0 none;
    padding: 0;
}
#profile-image i.pedit {
    position: relative;
    top: 12px;
    left: -22px;
    font-size: 16px;
}
.icon.picon::before {
    width: 40px;
    border: 1px solid #23b7e5;
    border-radius: 20px;
    padding: 2px 0 2px 1px;
    margin-left: 4px;
}
#profile-info .easel {
  padding-top: 8px;
  font-size: 104px;
}
.bar-footer .add-post-text {
  width: 90%;
  padding-top: 10px;
}
.custom-chatbox {
  background: #EDE6DC;
}
.bar .button.send-button {
  margin: 0px 0px 4px;
  border-radius: 0;
  box-shadow: none;
}
.slider { height: 100%; text-align: left }
.scroll { height: 100% }
#logo h1 {font-size: 70px;}
#logo h4 {margin: 0;}
.pane.has-tabs-top {top: 92px;}
.platform-android .has-tabs-top .list:last-child {margin-bottom: 92px;}
.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {border-color: #23b7e5;}
/* allows the bar-footer to be elastic /*
/* optionally set a max-height */
/* maxlength on the textarea will prevent /*
/* it from getting too large also */
.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
  resize: none;
  height: 25px;
}

/* fixes an ios bug bear */
button.ion-android-send {
  padding-top: 2px;
}
.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle;
}

.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 13px;
}
.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  position: relative;
  margin: 5px;
  max-width: 80%;
  line-height: 18px;
  border-radius: 7.5px;
  box-shadow: 0 1px .5px rgba(0,0,0,.13);
  -webkit-transition: .2s cubic-bezier(.31,.34,.3,.99);
  transition: .2s cubic-bezier(.31,.34,.3,.99);
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #ffffff;
  float: left;
  margin-left: 10px;
}

.chat-bubble.left:before {
  background-color: #ffffff;
  top: 0px;
  -webkit-transform: rotate(0deg) skew(25deg);
  left: -2px;
}

.chat-bubble.right {
  background-color: #23b7e5;
  color: #fff;
  float: right;
  margin-right: 10px;
}

.chat-bubble.right:before {
   background-color: #23b7e5;
  top: 0px;
  -webkit-transform: rotate(180deg) skew(-20deg);
  right: -1px;
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}

.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px;
}

.bold {
  font-weight: bold;
}

.cf {
  clear: both !important;
}

a.autolinker {
  color: #3b88c3;
  text-decoration: none;
}
.msg-input {
    margin-top: 2px;
}

.submit-btns {
    text-align: center;
}
/* loading */
.loader-center {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  align-items: center;
}

.loader .ion-loading-c {
  font-size: 64px;
}
.tabs-bottom .pane.tab-content {
  top: 44px;
}
.empty-slide .slider-pager {display: none;}
.ttempty {margin-top: 42px;}
.wall-final {height: 20px;}
.days .item .icon {
font-size: 52px;
    left: 8px;
    top: -2px;
}
.days .item .icon .day {
    font-size: 20px;
    top: 6px;
    left: 8px;
}
.days .item.single .icon .day { left:14px;}
.days .item.single .icon {}
.platform-ios .filter-results {position:relative;top: 20px;}
.filter-bar-backdrop {
    -webkit-transition: opacity 150ms ease-in-out;
    transition: opacity 150ms ease-in-out;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
.filter-bar-backdrop.active {
    z-index: 10;
    opacity: 1; }

.filter-bar {
    position: fixed;
    width: 100%;
    height: 44px;
    z-index: 10; }
.filter-bar .filter-bar-wrapper {
    z-index: 11;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; }
.filter-bar .filter-bar-wrapper .item-input-inset .icon.placeholder-icon:before {
    padding-top: 3px;
    font-size: 16px; }
.filter-bar .filter-bar-wrapper .item-input-inset .item-input-wrapper {
    background: #fff;
    height: 28px; }
.filter-bar .filter-bar-wrapper .item-input-inset .item-input-wrapper .filter-bar-clear {
    padding: 0 2px 0 0; }
.filter-bar .filter-bar-wrapper .item-input-inset .item-input-wrapper .filter-bar-clear:before {
    color: #aaa;
    font-size: 18px;
    padding-top: 1px; }

.platform-android .filter-bar .filter-bar-light .item-input-wrapper {
    border-bottom: 1px solid #ccc;
    background: white; }
.platform-android .filter-bar .filter-bar-light .item-input-wrapper input[type="search"] {
    color: #444; }
.platform-android .filter-bar .filter-bar-light .item-input-wrapper input[type="search"]::-moz-placeholder {
    color: #aaaaaa; }
.platform-android .filter-bar .filter-bar-light .item-input-wrapper input[type="search"]:-ms-input-placeholder {
    color: #aaaaaa; }
.platform-android .filter-bar .filter-bar-light .item-input-wrapper input[type="search"]::-webkit-input-placeholder {
    color: #aaaaaa;
    text-indent: 0; }
.platform-android .filter-bar .filter-bar-light .item-input-wrapper .filter-bar-clear:before {
    color: #444; }
.platform-android .filter-bar .filter-bar-stable .item-input-wrapper {
    border-bottom: 1px solid #a2a2a2;
    background: #f8f8f8; }
.platform-android .filter-bar .filter-bar-stable .item-input-wrapper input[type="search"] {
    color: #444; }
.platform-android .filter-bar .filter-bar-stable .item-input-wrapper input[type="search"]::-moz-placeholder {
    color: #aaaaaa; }
.platform-android .filter-bar .filter-bar-stable .item-input-wrapper input[type="search"]:-ms-input-placeholder {
    color: #aaaaaa; }
.platform-android .filter-bar .filter-bar-stable .item-input-wrapper input[type="search"]::-webkit-input-placeholder {
    color: #aaaaaa;
    text-indent: 0; }
.platform-android .filter-bar .filter-bar-stable .item-input-wrapper .filter-bar-clear:before {
    color: #444; }
.platform-android .filter-bar .filter-bar-positive .item-input-wrapper input[type="search"]::-moz-placeholder {
    color: white; }
.platform-android .filter-bar .filter-bar-positive .item-input-wrapper input[type="search"]:-ms-input-placeholder {
    color: white; }
.platform-android .filter-bar .filter-bar-positive .item-input-wrapper input[type="search"]::-webkit-input-placeholder {
    color: white;
    text-indent: 0; }
.platform-android .filter-bar .filter-bar-positive .item-input-wrapper .filter-bar-clear:before {
    color: #fff; }
.platform-android .filter-bar .filter-bar-calm .item-input-wrapper {
    border-bottom: 1px solid #0a9dc7;
    background: #11c1f3; }
.platform-android .filter-bar .filter-bar-calm .item-input-wrapper input[type="search"] {
    color: #fff; }
.platform-android .filter-bar .filter-bar-calm .item-input-wrapper input[type="search"]::-moz-placeholder {
    color: white; }
.platform-android .filter-bar .filter-bar-calm .item-input-wrapper input[type="search"]:-ms-input-placeholder {
    color: white; }
.platform-android .filter-bar .filter-bar-calm .item-input-wrapper input[type="search"]::-webkit-input-placeholder {
    color: white;
    text-indent: 0; }
.platform-android .filter-bar .filter-bar-calm .item-input-wrapper .filter-bar-clear:before {
    color: #fff; }
.platform-android .filter-bar .filter-bar-assertive .item-input-wrapper {
    border-bottom: 1px solid #e42112;
    background: #ef473a; }
.platform-android .filter-bar .filter-bar-assertive .item-input-wrapper input[type="search"] {
    color: #fff; }
.platform-android .filter-bar .filter-bar-assertive .item-input-wrapper input[type="search"]::-moz-placeholder {
    color: white; }
.platform-android .filter-bar .filter-bar-assertive .item-input-wrapper input[type="search"]:-ms-input-placeholder {
    color: white; }
.platform-android .filter-bar .filter-bar-assertive .item-input-wrapper input[type="search"]::-webkit-input-placeholder {
    color: white;
    text-indent: 0; }
.platform-android .filter-bar .filter-bar-assertive .item-input-wrapper .filter-bar-clear:before {
    color: #fff; }
.platform-android .filter-bar .filter-bar-balanced .item-input-wrapper {
    border-bottom: 1px solid #28a54c;
    background: #33cd5f; }
.platform-android .filter-bar .filter-bar-balanced .item-input-wrapper input[type="search"] {
    color: #fff; }
.platform-android .filter-bar .filter-bar-balanced .item-input-wrapper input[type="search"]::-moz-placeholder {
    color: white; }
.platform-android .filter-bar .filter-bar-balanced .item-input-wrapper input[type="search"]:-ms-input-placeholder {
    color: white; }
.platform-android .filter-bar .filter-bar-balanced .item-input-wrapper input[type="search"]::-webkit-input-placeholder {
    color: white;
    text-indent: 0; }
.platform-android .filter-bar .filter-bar-balanced .item-input-wrapper .filter-bar-clear:before {
    color: #fff; }
.platform-android .filter-bar .filter-bar-energized .item-input-wrapper {
    border-bottom: 1px solid #e6b500;
    background: #ffc900; }
.platform-android .filter-bar .filter-bar-energized .item-input-wrapper input[type="search"] {
    color: #fff; }
.platform-android .filter-bar .filter-bar-energized .item-input-wrapper input[type="search"]::-moz-placeholder {
    color: white; }
.platform-android .filter-bar .filter-bar-energized .item-input-wrapper input[type="search"]:-ms-input-placeholder {
    color: white; }
.platform-android .filter-bar .filter-bar-energized .item-input-wrapper input[type="search"]::-webkit-input-placeholder {
    color: white;
    text-indent: 0; }
.platform-android .filter-bar .filter-bar-energized .item-input-wrapper .filter-bar-clear:before {
    color: #fff; }
.platform-android .filter-bar .filter-bar-royal .item-input-wrapper {
    border-bottom: 1px solid #6b46e5;
    background: #886aea; }
.platform-android .filter-bar .filter-bar-royal .item-input-wrapper input[type="search"] {
    color: #fff; }
.platform-android .filter-bar .filter-bar-royal .item-input-wrapper input[type="search"]::-moz-placeholder {
    color: white; }
.platform-android .filter-bar .filter-bar-royal .item-input-wrapper input[type="search"]:-ms-input-placeholder {
    color: white; }
.platform-android .filter-bar .filter-bar-royal .item-input-wrapper input[type="search"]::-webkit-input-placeholder {
    color: white;
    text-indent: 0; }
.platform-android .filter-bar .filter-bar-royal .item-input-wrapper .filter-bar-clear:before {
    color: #fff; }
.platform-android .filter-bar .filter-bar-dark .item-input-wrapper {
    border-bottom: 1px solid #000;
    background: #444444; }
.platform-android .filter-bar .filter-bar-dark .item-input-wrapper input[type="search"] {
    color: #fff; }
.platform-android .filter-bar .filter-bar-dark .item-input-wrapper input[type="search"]::-moz-placeholder {
    color: white; }
.platform-android .filter-bar .filter-bar-dark .item-input-wrapper input[type="search"]:-ms-input-placeholder {
    color: white; }
.platform-android .filter-bar .filter-bar-dark .item-input-wrapper input[type="search"]::-webkit-input-placeholder {
    color: white;
    text-indent: 0; }
.platform-android .filter-bar .filter-bar-dark .item-input-wrapper .filter-bar-clear:before {
    color: #fff; }
.platform-android .filter-bar .filter-bar-default .item-input-wrapper {
    border-bottom: 1px solid #ccc;
    background: white; }
.platform-android .filter-bar .filter-bar-default .item-input-wrapper input[type="search"] {
    color: #444; }
.platform-android .filter-bar .filter-bar-default .item-input-wrapper input[type="search"]::-moz-placeholder {
    color: #aaaaaa; }
.platform-android .filter-bar .filter-bar-default .item-input-wrapper input[type="search"]:-ms-input-placeholder {
    color: #aaaaaa; }
.platform-android .filter-bar .filter-bar-default .item-input-wrapper input[type="search"]::-webkit-input-placeholder {
    color: #aaaaaa;
    text-indent: 0; }
.platform-android .filter-bar .filter-bar-default .item-input-wrapper .filter-bar-clear:before {
    color: #444; }
.platform-android .filter-bar-wrapper .item-input-inset {
    padding-right: 24px; }
.platform-android .filter-bar-wrapper .item-input-inset .filter-bar-cancel {
    padding-left: 0; }
.platform-android .filter-bar-wrapper .item-input-inset .filter-bar-cancel:before {
    font-size: 24px; }
.platform-android .filter-bar-wrapper .item-input-inset .item-input-wrapper {
    border-radius: 0;
    padding-left: 0;
    margin-left: 10px; }
.platform-android .filter-bar-wrapper .item-input-inset .item-input-wrapper input[type="search"] {
    font-weight: 500; }
.platform-android .filter-bar-wrapper .item-input-inset .item-input-wrapper .filter-bar-clear:before {
    font-size: 20px; }

.filter-bar-transition-horizontal {
    -webkit-transition: -webkit-transform cubic-bezier(.25, .45, .05, 1) 300ms;
    transition: transform cubic-bezier(.25, .45, .05, 1) 300ms;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

.filter-bar-transition-vertical {
    -webkit-transition: -webkit-transform cubic-bezier(.25, .45, .05, 1) 350ms;
    transition: transform cubic-bezier(.25, .45, .05, 1) 350ms;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }

.filter-bar-transition-fade {
    -webkit-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
    opacity: 0; }

.filter-bar-in {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }

/* Card styling */

td-cards {
    display: block;
}

td-card {
    position: absolute;
    left: 50%;
    margin: 80px 0 40px -150px;
    width: 300px;
    height: 330px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: rgb(255,255,255);
    color: #fff;
    padding: 0 20px;
}

td-card .image {
    top: 20px;
    width: 100%;
}

td-card img {
    margin-top: 20px;
    height: 258px;
    width: 100%;
}

.buttondesc{
    position: absolute;
    top: 450px;
    width: 100%;
    text-align: center;
    left: 0;
}
.buttondesc button {
  margin: 0 10px;
}
.buttondesc button:before {
  font-size: 45px;
  padding: 8px 0px;
}
/* Overlay styling*/

.overlayBox {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 100%;
    top: -80px;
    opacity: 0;
    margin: 80px 0 0 -149px;
}

.boxed {
    height: 50px;
    width: 100px;
    padding: 10px;
    border-radius: 6px;
    font-size: 30px;
}

.yes-text {
    background-color: rgba(0,256,0,0.2);
}

.yesBox {
    margin: 10% 60% 0% 10%;
    border: 2px solid #00FF00;
    color: rgb(0, 256, 0);
    -webkit-transform: rotate(-25deg);
}

.no-text {
    background-color: rgba(256,0,0,0.2);
}

.noBox {
    margin: 10% 10% 0% 60%;
    border: 2px solid #FF0000;
    color: rgb(256, 0, 0);
    -webkit-transform: rotate(25deg);
}

.fade {
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    opacity: 0;
}

.username{
  margin:10px 0 0 0;
  font-size: 20px;
}
td-cards {
  display: block;
}
td-card {
  display: block;
}
td-card img {
  max-width: 100%;
  max-height: 100%;
}
.menu-logo.item img {
left: 84px;
    max-width: 90px;
    max-height: 90px;
    top: 6px;
}
.item-avatar.custom-avatar {
    min-height: 100%;
}
.item-avatar.custom-avatar img {
    top: 6px;
}
.item .custom-list-icon:before {
  border: 1px solid;
  border-radius: 56px;
  min-width: 40px;
  height: 40px;
  padding-top: 2px;
  margin-left: 4px;
}
.item span.badge.custom-badge {top: 10px;}
.item span.badge.custom-badge-msg {top: 36px;}
.item .chat-desc {
  font-size: 12px;
  position: absolute;
  right: 5px;
  color: #444;
}
.list.card.done .item.item-avatar {text-decoration: line-through;}
.button .badge.head-badge {
  top: -11px;
  left: -10px;
  margin: 0;
}

/* flex calendar */
.flex-calendar {
  width: 100%;
  min-height: 50px;
  color: #FFFFFF;
  font-weight: 200;
}

.flex-calendar .month {
  position:relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;

  background-color: #23B7E5;
}

.flex-calendar .month .arrow,
.flex-calendar .month .label{
  height: 60px;

  -webkit-box-ordinal-group: 1;

  -webkit-order: 0;

      -ms-flex-order: 0;

          order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-align-self: auto;
      -ms-flex-item-align: auto;
          align-self: auto;
  line-height: 60px;

  font-size:20px;
}

.flex-calendar .month .arrow {
  width: 50px;
  box-sizing: border-box;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABqUlEQVR4Xt3b0U3EMBCE4XEFUAolHB0clUFHUAJ0cldBkKUgnRDh7PWsd9Z5Tpz8nyxFspOCJMe2bU8AXgG8lFIurMcurIE8x9nj3wE8AvgE8MxCkAf4Ff/jTEOQBjiIpyLIAtyJpyFIAjTGUxDkADrjhxGkAIzxQwgyAIPxZgQJAFJ8RbgCOJVS6muy6QgHiIyvQqEA0fGhAArxYQAq8SEASvHTAdTipwIoxk8DUI2fAqAc7w6gHu8KkCHeDSBLvAtApng6QLZ4KkDGeBpA1ngKQOb4YYDs8UMAK8SbAVaJNwGsFN8NsFq8FeADwEPTmvPxSXV/v25xNy9fD97v8PLuVeF9FiyD0A1QKVdCMAGshGAGWAVhCGAFhGGA7AgUgMwINICsCFSAjAh0gGwILgCZENwAsiC4AmRAcAdQR5gCoIwwDUAVYSqAIsJ0ADWEEAAlhDAAFYRQAAWEcIBoBAkAIsLX/rV48291MgAEhO747o0Rr82J23GNS+6meEkAw0wwx8sCdCAMxUsDNCAMx8sD/INAiU8B8AcCLT4NwA3CG4Az68/xOu43keZ+UGLOkN4AAAAASUVORK5CYII=') no-repeat;
  background-size: contain;
  background-origin: content-box;
  padding:15px 5px;
  cursor:pointer;
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.flex-calendar .month .arrow:last-child {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.flex-calendar .month .arrow.visible{
  opacity:1;
  visibility: visible;
  cursor: pointer;
}
.flex-calendar .month .arrow.hidden{
  opacity:0;
  visibility: hidden;
  cursor: default;
}
.flex-calendar .week,
.flex-calendar .days {
  line-height: 25px;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-calendar .days {
  background-color: #FFF;
}

.flex-calendar .week {
  background-color: rgba(35, 183, 229, 0.68);
}

.flex-calendar .week .day,
.flex-calendar .days .day{
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  min-width: 14.285714286%;

  text-align: center;
}

.flex-calendar .days .day{
  min-height: 60px;
  box-sizing: border-box;
  position: relative;
  line-height: 60px;
  border-top:1px solid #FCFCFC;
  background-color: #fff;
  color: #8B8B8B;

  -webkit-transition: all 0.3s ease;

          transition: all 0.3s ease;
}

.flex-calendar .days .day.out {
  background-color: #fCFCFC;
}

.flex-calendar .days .day.today,
.flex-calendar .days .day.disabled.today{
  color: #FFB835;
  border: 1px solid;
}

.flex-calendar .days .day.selected {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-calendar .days .day.selected .number {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  line-height: 40px;
  color: #000000;
  position: relative;
}
.flex-calendar .days .day.eventday .number {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  line-height: 40px;
  margin: 10px 0 0 10px;
  color: #FFFFFF;
}
.flex-calendar .days .day.holiday .number, .flex-calendar .days .day.absent .number {
  background-color: #ef473a;
}
.flex-calendar .days .day.event .number {
  background-color: #33cd5f;
}
.flex-calendar .days .day.exam .number, .flex-calendar .days .day.present .number {
  background-color: #23b7e5;
}
.list.cal-event-types .item {
    border: 0;
    font-size: 15px;
    color: #888888;
    padding: 15px 50px;
}
.flex-calendar .days .day .ctick {
    position: absolute;
    bottom: -15px;
    left: 15px;
}
.flex-calendar .days .day:not(.disabled):not(.out){
  cursor: pointer;
}

.flex-calendar .days .day.disabled {
    border: none;
}

.flex-calendar .days .day.disabled .number {
  background-color: #EFEFEF;
  background-image: url('data:image/gif;base64,R0lGODlhBQAFAOMAAP/14////93uHt3uHt3uHt3uHv///////////wAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAFAAUAAAQL0ACAzpG0YnonNxEAOw==');
}
.cal-filters .button.ion-navicon {display: none;}
.cal-filters .button.ion-ios-close-outline {display: block;}
.list .item .badge.badge2 { margin-right: 40px;}
button.button-icon.round-overlay-button.bottom-right {
    bottom: 0;
    margin-bottom: 16px;
    right: 16px;
    z-index: 2;
}
button.button-icon.round-overlay-button.assertive {
    background-color: #ef473a;
    color: white;
}
button.button-icon.round-overlay-button {
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    min-height: 45px;
    padding: 0;
    border: none;
    background-color: #33cd5f;
    color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: all linear 220ms;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}