<ion-view view-title="{{action}}">

  <ion-nav-buttons side="secondary">
  <button ng-if="action == 'attendance'" class="button button-icon icon ion-calendar" ng-click="filterData()">
    </button>
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>

  <ion-content direction="y" scrollbar-y="false">

    <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()">
    </ion-refresher>
    <div class="list animate-in-primary" ng-if="items.length > 0">
        <a ng-repeat="(i, student) in items | orderBy:['standard', 'studentid']" class="item item-icon-left  item-icon-right item-avatar custom-avatar positive" href="" ng-click="takeAction(i, student)" item-height="53" item-width="100%">
            <img ng-src="http://res.cloudinary.com/dnzljpk6o/image/upload/v1442348003/{{student.uid}}.png">
            <h2>{{student.standard}}<span ng-hide="student.division == 'all'">{{student.division}}</span> : {{student.name}}</h2>
            <i ng-if="action == 'attendance' && role == 'hm'" class="icon" ng-class="{'ion-checkmark-round' : hmattendance[class][filters.month][filters.day][student.uid], 'ion-close-round assertive': !hmattendance[class][filters.month][filters.day][student.uid]}"></i>
            <i ng-if="action == 'attendance' && role == 'teacher'" class="icon" ng-class="{'ion-checkmark-round' : attendance[filters.month][filters.day][student.uid], 'ion-close-round assertive': !attendance[filters.month][filters.day][student.uid]}"></i>
            <span ng-if="action == 'addpoint' || action == 'points'">
              <span class="badge badge-assertive">{{rewards[class][student.uid].negative}}</span>
              <span class="badge badge2 badge-balanced">{{rewards[class][student.uid].positive}}</span>
            </span>
        </a>
    </div>

    <div ng-if="items !== undefined && !items.length" class="no-results list">
       <a class="item" href="#">
          <p>No students found</p>
       </a>
    </div>

  </ion-content>

</ion-view>