<ion-view view-title="Teachers">

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>

  <ion-content direction="y" scrollbar-y="false">

    <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()">
    </ion-refresher>
    <div class="list" ng-if="items.length > 0">
        <a ng-repeat="(k, teacher) in items" class="item item-icon-left  item-avatar custom-avatar positive" href="#/app/teacherdashboard/{{teacher.uid}}/{{teacher.name}}">
            <img ng-src="http://res.cloudinary.com/dnzljpk6o/image/upload/v1442348003/{{teacher.uid}}.jpg">
            <h2>{{teacher.name}}</h2>
        </a>
    </div>
    <div ng-if="items !== undefined && !items.length" class="no-results list">
       <a class="item" href="#">
          <p>No teacher found</p>
       </a>
    </div>

  </ion-content>

</ion-view>