<ion-view cache-view="false">
<ion-nav-title>{{teacher.name}} Favourite Teacher</ion-nav-title>
<ion-content has-header="true">

<div ng-if="teacher" class="list card">

  <div class="item item-image">
    <img ng-src="{{teacher.img}}">
  </div>
  <div class="item item-body">
    <p>You have selected {{teacher.name}} as your favourite teacher of {{month}} {{year}}</p>
  </div>
  <a class="item item-icon-left assertive" ng-click="redirect()" href="#">
    <i class="icon ion-edit"></i>
    Click to change it
  </a>
</div>
<div ng-if="!teacher" class="list card">
 <div class="item item-body">
    <p>Oh No!! Are you sure, No teacher is your favourite </p>
  </div>
  <a class="item item-icon-left assertive" ng-click="redirect()" href="#">
    <i class="icon ion-edit"></i>
    Click to change it
  </a>
</div>
</ion-content>
</ion-view>