<ion-view title="Homeworks">
  <ion-nav-buttons side="right">
      <a ng-if="role == 'teacher'" class="button button-icon button-clear ion-ios-plus-outline" href="#/app/teacherclasses"></a>
  </ion-nav-buttons>
   <ion-content>
   <ion-refresher pulling-text="Pull to refresh" on-refresh="getHomeworks(true)"></ion-refresher>
   <div ng-show="loading" class="center padding"><ion-spinner icon="android"></ion-spinner></div>
    <div ng-if="empty && !loading && !items" class="list">
    <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-list positive"></i>
    No wall item found
    </a>
   </div>
  <div ng-if="role == 'teacher'" class="list card" ng-class="{'done' : (wall.undone == 0)}" ng-repeat="(wk,wall) in items">
  <div class="item item-avatar">
    <img ng-src="https://randomuser.me/api/portraits/thumb/{{(wall.sex == 'male') ? 'men':'women'}}/{{wall.tid.split(':')[1] - 1}}.jpg">
    <h2>{{wall.title}}</h2>
    <p>{{wall.subject}}, {{wall.duedate| date:'MMM dd yyyy'}}</p>
  </div>
  <a class="item" href="#">
    {{wall.notes}}
  </a>
   <a class="item item-icon-left" href="#" ng-click="redirect(wall, 'done');">
    <i class="icon ion-checkmark-circled positive"></i>
    Completed
    <span class="badge badge-positive">{{wall.done}}</span>
  </a>
   <a class="item item-icon-left" href="#" ng-click="redirect(wall, 'undone');">
    <i class="icon ion-close-circled assertive"></i>
    Yet to be completed
    <span class="badge badge-assertive">{{wall.undone}}</span>
  </a>
  </div>
  <div ng-if="role == 'parent'" class="list card" ng-class="{'done': wall.status}" ng-repeat="(wk,wall) in items | orderBy:['status','-date']">
  <div class="item item-avatar">
    <img ng-src="https://randomuser.me/api/portraits/thumb/{{(wall.sex == 'male') ? 'men':'women'}}/{{wall.tid.split(':')[1] - 1}}.jpg">
    <h2>{{wall.title}}</h2>
    <p>{{wall.subject}}, {{wall.duedate| date:'MMM dd yyyy'}}</p>
  </div>
  <a class="item" href="#">
    {{wall.notes}}
  </a>
  <a class="item item-icon-right" ng-class="{'positive':wall.status, 'assertive': !wall.status}" href="#" ng-click="ack(wall);">
    <i class="icon" ng-class="{'ion-close-circled positive':wall.status, 'ion-checkmark-circled assertive': !wall.status}"></i>
    {{(wall.status) ? 'Completed' : 'Yet to be completed'}}
  </a>
  </div>
   </ion-content>
</ion-view>