<ion-view>
   <ion-nav-title>{{kid.name}} Profile</ion-nav-title>
   <ion-content class="has-header">
      <div id="profile-bg"></div>
      <div id="content" ng-hide="loading">
        <div id="profile-info">
          <div id="profile-image" ng-click="show()"><img ng-show="avatars[kid.uid]" ng-src="data:image/jpeg;base64,{{avatars[kid.uid]}}">
          <i ng-hide="avatars[kid.uid]" class="picon icon ion-person positive"></i>
          <i class="pedit icon ion-edit positive"></i>
          </div>
          <h3 id="profile-name">{{kid.name}}</h3>
        </div>
      <ion-list>
        <ion-item class="item-icon-left positive"><i class="icon ion-information"></i><h2>{{kid.id}}</h2></ion-item>
        <ion-item class="item-icon-left positive" href="#"><i ng-class="{'icon ion-woman positive': kid.sex == 'Female', 'icon ion-man positive': kid.sex == 'Male'}"></i><h2>{{kid.sex}}</h2>
        </ion-item>
        <ion-item class="item-icon-left positive"><i class="icon ion-easel positive"></i><h2>{{kid.standard}}-{{kid.division}}</h2>
        </ion-item>
        <ion-item class="item-icon-left" ng-repeat="subject in kid.subjects" href="#">
          <i class="icon ion-ios-book positive"></i><h2>{{subject.subject}} - {{subject.tname}}</h2>
        </ion-item>
        <ion-item class="item-icon-left positive" href="#"><i class="icon ion-home positive"></i><h2>{{kid.address}}</h2>
        </ion-item>
      </ion-list>
      </div>
   </ion-content>
</ion-view>
