 <ion-view class="modal">
  <ion-content>
    <ion-header-bar class="bar-positive bar bar-header disable-user-behavior" align-title="left">
    <div class="title title-left header-item">Select a Demo user to Login</div>
    <div class="buttons buttons-right">
    <span class="right-buttons">
      <button class="button button-icon button-clear ion-close-circled" ng-click="modal.hide()">
    </button>
  	</span>
  	</div>
  	</ion-header-bar>
    <ion-list>
      <ion-item class="bar bar-header bar-positive">
        
      </ion-item>
      <ion-item ng-click="fillUser(modal, user.username,user.password)" class="item item-icon-left item-avatar custom-avatar positive" ng-repeat="user in users"><i class="picon icon ion-person positive"></i><h2>{{user.title}}</h2></ion-item>
    </ion-list>
  </ion-content>
</ion-view>