<ion-view cache-view="false" title="Wall" ng-init="getWall(false)">
  <ion-nav-buttons side="right">
      <button ng-if="addwall" class="button button-icon button-clear ion-ios-plus-outline" ng-click="addpost()"></button>
  </ion-nav-buttons>
   <ion-content>
   <ion-refresher pulling-text="Pull to refresh" on-refresh="getWall(true)"></ion-refresher>
   <div ng-if="loading" class="center padding"><ion-spinner icon="android"></ion-spinner></div>
    <div ng-hide="loading" ng-if="walls.length == 0" class="list">
    <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-list positive"></i>
    No wall item found
    </a>
   </div>
  <div class="list card" ng-repeat="(wk,wall) in walls">
  <div class="item item-avatar">
    <img ng-src="https://randomuser.me/api/portraits/thumb/{{(wall.sex == 'male') ? 'men':'women'}}/{{wall.uid.split(':')[1] - 1}}.jpg">
    <h2>{{wall.name}}</h2>
    <p>{{wall.date| date:'hh:mm a, MMM dd yyyy'}}</p>
  </div>

  <div class="item item-image" ng-hide="wall.pictures.length == 0">
    <img ng-click="showImage('{{pic}}')" class="full-image" ng-src="data:image/jpeg;base64,{{pic}}" ng-repeat="pic in wall.pictures">
  </div>
  <a class="item" href="#">
    {{wall.text}}
  </a>
  <a class="item item-icon-right positive" href="#">
    <i ng-if="!wall.likeuids || wall.likeuids.indexOf(uid) == -1" ng-click="like(wk, 'like')" class="icon ion-thumbsup"></i>
    <i ng-if="wall.likeuids && (wall.likeuids.indexOf(uid) != -1)" ng-click="like(wk,'dislike')" class="icon ion-thumbsdown assertive"></i>
    {{wall.like}} {{(wall.like == 1) ? 'Like' : 'Likes'}}
  </a>
  </div>
<ion-infinite-scroll on-infinite="loadMoreData()" ng-if="!moredata">
</ion-infinite-scroll>
<div ng-if="moredata" class="wall-final"></div>
   </ion-content>
</ion-view>