<ion-view title="{{title}}" ng-init="getMarksData()">
   <ion-header-bar class="bar-positive">
      <h1 class="title">Pull to Refresh!</h1>
   </ion-header-bar>
   <ion-content class="has-header" >
      <ion-refresher pulling-text="Pull to refresh" on-refresh="getMarksData()"></ion-refresher>
      <div class="row" ng-if="dashboardStatus == 'empty'">
         <div class="col">Dashboard is empty</div>
      </div>
      <chart id="passfailstatus" config="passfailConfig" ng-if="dashboardStatus != 'empty'" class="noclick"></chart>
      <chart id="subjects" config="subjectsConfig" ng-if="dashboardStatus != 'empty'"></chart>
      <chart id="grades" config="gradeConfig" ng-if="dashboardStatus != 'empty'" class="noclick"></chart>
      <ion-list ng-if="dashboardStatus != 'empty'">
         <div class="collection-repeat-container"><ion-item class="item-icon-left" href="#"><i class="icon ion-trophy positive"></i> <span style="color:#aaa;font-weight:bold">Class - Topper</span> <span class="badge">Total</span></ion-item></div>
         <ion-item class="item-icon-left" collection-repeat="v in toppers" href="#/app/studentdashboard/{{v.studentid}}/{{v.student}}"><i class="icon ion-person positive"></i> {{v.standard}}:{{v.division}} - {{v.student}} <span class="badge badge-positive">{{v.total}}</span></ion-item>
      </ion-list>
   </ion-content>
</ion-view>
