<ion-view title="{{title}}">
   <ion-nav-buttons side="right">
   <button ng-show="dashboard" class="button button-icon button-clear ion-funnel" ng-click="filterData()"></button>
   </ion-nav-buttons>
   <ion-content class="has-header" >
      <ion-refresher pulling-text="Pull to refresh" on-refresh="getMarksData()"></ion-refresher>
      <div ng-show="loading" class="center padding"><ion-spinner icon="android"></ion-spinner></div>
      <ion-list ng-show="empty">
         <ion-item class="item item-icon-left"><i class="icon ion-ios-list positive"></i>Dashboard is empty</ion-item>
      </ion-list>
      <chart id="cpassfailstatus" config="cpassfailConfig" class="noclick"></chart>
      <chart id="csubjects" config="csubjectsConfig"></chart>
      <chart id="cgrades" config="cgradeConfig"></chart>
      <ion-list ng-show="dashboard">
         <div class="collection-repeat-container"><ion-item class="item-icon-left" href="#"><i class="icon ion-trophy positive"></i> <h2><span style="color:#aaa;font-weight:bold">Class - Topper</span> <span class="badge">Total</span></h2></ion-item></div>
         <ion-item class="item-icon-left" ng-repeat="v in toppers" href="#/app/studentdashboard/{{v.class}}/{{v.studentid}}/{{v.student}}"><i class="icon ion-person positive"></i> <h2>{{v.class}} - {{v.student}} <span class="badge badge-positive">{{v.total}}</span></h2></ion-item>
      </ion-list>
   </ion-content>
</ion-view>
