<ion-view>
   <ion-nav-title>Add Post</ion-nav-title>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-camera" ng-click="takePicture()"></button>
      <button class="button button-icon button-clear ion-image" ng-click="selectPicture()"></button>
    </ion-nav-buttons>
   <ion-content>
      <div class="list list-inset">
        <label class="item item-input">
          <textarea placeholder="What's on your mind ???" ng-model="post.message"></textarea>
        </label>
      </div>
      <div class="row padding" ng-repeat="v in post.pictures">
        <span class="col">
          <img src="{{v}}" />
        </span>
      </div>
      <div class="padding">
        <button ng-click="submit()" class="button button-block button-positive activated">Submit</button>
      </div>
   </ion-content>
</ion-view>