<ion-view title="Home" ng-controller="LoginCtrl">
   <ion-content class="has-header home">
      <div class="row">
         <div class="col center">
            <h1><span><i class="icon ion-leaf balanced"></i><i class="icon ion-university positive"></i></span></h1>
            <h4>GreenEd</h4>
            <h5>The Future of Education</h5>
         </div>
      </div>
      <form>
         <div class="list list-inset">
            <label class="item item-input"><i class="icon ion-person positive"></i> <input class="custom-icon" type="text" ng-model="user.email" placeholder="Username"></label>
            <label class="item item-input last"><i class="icon ion-locked positive custom-icon"></i> 
            <input class="custom-icon" type="password" ng-model="user.password" placeholder="Password"></label>
            <button class="button button-block button-positive" ng-click="login()">Log in</button>
         </div>
      </form>
   </ion-content>
</ion-view>
