/* Empty. Add your own CSS if you like */
.list .item, .title, .list .item .col {
    text-transform: capitalize;
    white-space: normal;
}
.list .item {
    margin: 0 10px;
    border-width: 1px 0px 0px 0;
    border-color: #f6f6f6;
}
.list.card .item {
  border: 1px 0;
  margin: 0;
}
.list .item:first-child {
	border-width: 1px 0 0px;
}
.list .item .wall-title {
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  font-size: 40px;
}
body .list .item.first {
	border-width: 1px 0 0;
}
.list .item:last-child, .list .item.last {
	border-width: 1px 0;
}
.item-icon-left .icon {
 left: 5px;
}
.item .badge {
  right: 5px;
}
.item-radio input:checked ~ .radio-icon {
  color: #7cb5ec;
}
.item-radio input:checked ~ .item-content {
  background: #fcfcfc;
}
.home .list .item {
	border-color: #7cb5ec;
	margin: 0 2px;
  border-width: 1px 1px 0;
}
.home .list .item.last {
  border-width: 1px;
}
.noclick {
	pointer-events: none;
}
.center {
    text-align: center;
}
.home .item-input .icon {
  padding: 0 10px 0 0;
  font-size: 20px;
}
text {
  font-family: serif;
}
.button {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.filters {z-index: -1000;}
.menu-left h1 {margin: 0;}
.filters .submit {padding: 0px;}
.bar {padding: 0;}.platform-android .bar .title{font-size: 18px;margin:0 2px;}.bar .title + .buttons{right:0;}
.grade-b .menu-content, .grade-c .menu-content {left: 0px; right: 0px; box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 2px rgba(0, 0, 0, 0.2);}
.menu-left {left: 1px;}
.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: 1;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
#profile-bg {
  position: fixed;
  left: 0;
  top: -150px;
  width: 100%;
  height: 150px;
}
#profile-bg img {
  width: 100%;
  height: 100%;
}
#content {
  position: relative;
  margin-top: 150px;
  background-color: white;
  box-shadow: 0px -7px 10px rgba(0,0,0,0.4);
  padding-top: 125px;
}

#profile-info {
  position: absolute;
  top: -95px;
  width: 100%;
  z-index: 2;
  text-align: center;
}
#profile-name {
  color: #444;
  font-size: 26px;
  text-transform: capitalize;
}
#profile-description {
  font-size: 15px;
  color: #888;
}
#profile-description a {
  color: #888;
}

#profile-image {
  display: block;
  border-radius: 150px;
  border: 1px solid #f6f6f6;
  width: 128px;
  height: 128px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
  font-size: 112px;
}

input[type="search"] {width: 100%;}
.bar-footer .add-post-text {
  border: 1px solid #f6f6f6;
  margin: 0 0 0px 5px;
  padding: 4px 0px 0 5px;
  height: 90%;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.bar .button.send-button {
  margin: 0 0px;
  border-radius: 0;
  box-shadow: none;
}