<div>
		                        <legend>Enter Class And Division</legend>
		                        <div class="col-md-6"><input placeholder="Class" ng-model="class.name" type="text"></div>
								  <div class="col-md-5"><input placeholder="Division" ng-model="class.division" type="text"></div>
								</div>
					      </div>
					      <div ng-switch-when="2">
		                     <div>
		                        <legend> Enter Class Teacher Name</legend>
		                        <input ng-model="class.teacher" placeholder="Enter class teacher name" type="text">
		                     </div>
					      </div>
					      <div ng-switch-when="3">
		                  	<div>
		                        <legend>Enter Type Of Exams</legend>
								<div class="row" ng-repeat="(k,v) in class.subjects">
								  <div class="col-md-1"><button class="fbtn ibtn fa" ng-class="{ 'fa-plus-square-o' : k == 0, 'fa-trash-o' : k !== 0}" ng-click="(k == 0) ? createSubject(): removeSubject(k)"></button></div>
								  <div class="col-md-11"><input placeholder="Exams" ng-model="class.exams" type="text"></div>
								</div>
		                    </div>
					      </div>
					      <div ng-switch-when="4">
		                  	<div>
		                        <legend>Enter Common Subjects</legend>
								<div class="row" ng-repeat="(k,v) in class.subjects">
								  <div class="col-md-1"><button class="fbtn ibtn fa" ng-class="{ 'fa-plus-square-o' : k == 0, 'fa-trash-o' : k !== 0}" ng-click="(k == 0) ? createSubject(): removeSubject(k)"></button></div>
								  <div class="col-md-6"><input placeholder="Subject" ng-model="class.subject" type="text"></div>
								  <div class="col-md-5"><input placeholder="Teacher" ng-model="class.teacher" type="text"></div>
								</div>
		                    </div>
					      </div>
					   </div>
	                  </div>
	                  <button id="nextBtn" class="fbtn fa fa-arrow-circle-o-right" ng-click="next(step)"></button>
	                  <button ng-if="step != 1" id="backBtn" class="fbtn fa fa-arrow-circle-o-left" ng-click="previous(step)"></button>
	               </form>
	            </div>
	            </span>
	         </div>
	      </div>
	   </div>
	</div>
	</section>