<ion-view>
    <ion-header-bar align-title="center" class="bar-light">
        <div class="buttons">
        	<button class="button button-clear button-icon" ng-click="goBack()" ><i class="ion-chevron-left"></i></button>
        </div>
        <h1 class="title">Nearby Shops</h1>
        <div class="buttons buttons-right">
            <button class="button button-icon button-clear ion-funnel" ng-click="filterSettings()"></button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" data-tap-disabled="true">
          <map on-create="mapCreated(map)"></map>
        </ion-content>
</ion-view>