<ion-modal-view>
    <ion-content class="header-background">
        <ion-header-bar align-title="center">
            <h1 class="title">{{items[shopid].title}}</h1>
            <button class="button button-clear button-icon icon ion-android-close" ng-click="closeModal()"></button>
        </ion-header-bar>

        <form>
            <div class="product-header" style="background: url({{'img/category/'+categoryid+'.png'}}) no-repeat; background-size: cover;">
                <h2 class="product-name">{{items[shopid].title}}</h2>
                <div class="product-price">{{items[shopid].type}}</div>
            </div>
            <div class="product-body">
                <div class="product-info">
                    
                </div>
                <div class="add-to-cart">
                    <button class="button button-block button-balanced" ng-click="getdirection(items[shopid].key)">
                        Get Direction
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
