<ion-view hide-nav-bar="filterStatus" title="All Students">
    <div class="bar bar-header item-input-inset header-search bar-positive padding" ng-show="filterStatus">
    <span class="left-buttons">
	<button class="button button-icon button-clear ion-android-arrow-back" ng-click="filterStatus = !filterStatus"></button>
    </span>
    <ion-search placeholder="Search" filter="query.search"></ion-search>
    <div class="buttons buttons-right header-item">
    </div>
	</div>
	<ion-nav-buttons side="right">
	<button class="button button-icon button-clear ion-ios-search" ng-click="changeStatus()"></button>
    </ion-nav-buttons>
   <ion-content class="has-header">
   	  <div ng-if="filterStatus" style="height:44px;"></div>
      <ion-refresher pulling-text="Pull to refresh" on-refresh="fetchData(true)"></ion-refresher>
      <div ng-show="loading" class="center padding"><ion-spinner icon="android"></ion-spinner></div>
      <ion-list>
         <ion-item collection-repeat="student in students | filter:query.search.value | orderBy:['standard', 'studentid']" class="item item-icon-left positive" href="#/app/studentdashboard/{{student.standard}}-{{student.division}}/{{student.uid}}/{{student.name}}">
            <i class="icon ion-person"></i>
            <h2>{{student.standard}}<span ng-hide="student.division == 'all'">{{student.division}}</span> : {{student.name}}</h2>
         </ion-item>
      </ion-list>
      <div class="list" ng-if="status == false">
         <a class="item" href="#">
            <p>No students found</p>
         </a>
      </div>
   </ion-content>
</ion-view>