<ion-view title="Dashboard">
   <ion-header-bar class="bar-positive">
      <h1 class="title">Pull to Refresh!</h1>
   </ion-header-bar>
   <ion-content class="has-header" >

      <!-- <ion-refresher pulling-text="Pull to refresh" on-refresh="getMarksData()"></ion-refresher>
      <ion-list ng-if="dashboardStatus == 'empty'">
         <ion-item class="item item-icon-left"><i class="icon ion-ios-list"></i>Dashboard is empty</ion-item>
      </ion-list>
      <chart id="passfailstatus" config="passfailConfig" ng-if="dashboardStatus != 'empty'" class="noclick"></chart>
      <chart id="subjects" config="subjectsConfig" ng-if="dashboardStatus != 'empty'"></chart>
      <chart id="grades" config="gradeConfig" ng-if="dashboardStatus != 'empty'" class="noclick"></chart>
      <ion-list ng-if="dashboardStatus != 'empty'">
         <div class="collection-repeat-container"><ion-item class="item-icon-left" href="#"><i class="icon ion-trophy positive"></i> <h2><span style="color:#aaa;font-weight:bold">Class - Topper</span> <span class="badge">Total</span></h2></ion-item></div>
         <ion-item class="item-icon-left" collection-repeat="v in toppers" href="#/app/studentdashboard/{{v.studentid}}/{{v.student}}"><i class="icon ion-person positive"></i> <h2>{{v.standard}}<span ng-hide="v.division == 'ALL'">:{{v.division}}</span> - {{v.student}} <span class="badge badge-positive">{{v.total}}</span></h2></ion-item>
      </ion-list> -->
   </ion-content>
</ion-view>
