<ion-side-menus enable-menu-with-back-views="true" ng-init="AppCtrl" delegate-handle="right-menu">
   <ion-side-menu-content>
      <ion-nav-bar class="bar-positive">
         <ion-nav-buttons side="left"><button class="button button-icon button-clear ion-navicon show" menu-toggle="left"></button></ion-nav-buttons>
<!--          <ion-nav-buttons side="right"><button ng-show="filters" class="button button-icon button-clear ion-funnel" menu-toggle="right"></button></ion-nav-buttons> -->
      </ion-nav-bar>
      <ion-nav-view name="menuContent"></ion-nav-view>
   </ion-side-menu-content>
   <ion-side-menu side="left">
      <ion-content>
         <ion-list ng-init="linkItem = {}">
            <ion-item nav-clear class="center menu-logo"><h2><i class="icon ion-person positive" style="font-size:60px"></i></h2><h2>Welcome {{username}}</h2></ion-item>
            <div ng-repeat="link in menuLinks.Links">
               <ion-item ng-click="linkItem[link.index] = !linkItem[link.index]" ng-init="linkItem[link.index] = true" ng-class="link.expand ? 'show': 'hide'" ng-if="link.header == 'header'" nav-clear class="menu-header item-icon-right item-icon-left" href="#{{link.href}}"><i class="icon {{link.class}} positive"></i> <h2>{{link.title}}</h2><i ng-class="linkItem[link.index] ? 'ion-ios-minus': 'ion-ios-plus'" class="icon positive"></i></ion-item>
<ion-item ng-show="linkItem[link.index]" ng-if="link.header == 'submenu'" nav-clear menu-close class="item-icon-left sub" href="#{{link.href}}"><i class="icon {{link.class}} positive"></i> <h2>{{link.title}}</h2></ion-item>
               <ion-item ng-if="!link.header" nav-clear menu-close class="item-icon-left" href="#{{link.href}}"><i class="icon {{link.class}} positive"></i><h2>{{linkItem[link.index]}} {{link.title}}</h2></ion-item>
            </div>
            <ion-item nav-clear menu-close class="item-icon-left" ng-click="logout()"><i class="icon ion-log-out positive"></i><h2>Logout</h2></ion-item>
         </ion-list>
      </ion-content>
   </ion-side-menu>
   <!-- <ion-side-menu ng-if="filters" side="right">
      <ion-content drag-content="false">
         <form>
            <ion-list class="menu-list filters">
               <ion-item class="item-icon-left positive"><i class="icon ion-clock"></i><strong>EducationYear</strong></ion-item>
               <ion-radio class="item item-complex" name="year" ng-model="filtersData.educationyear" ng-repeat="(k,v) in filtersData.years" ng-value="{{k}}">{{v}}</ion-radio>
               <ion-item class="item-icon-left positive" ng-hide="noexams"><i class="icon ion-clipboard"></i><strong>Exams</strong></ion-item>
               <ion-radio class="item item-complex" name="exam" ng-hide="noexams" ng-if="v != 'NoAll'" ng-model="filtersData.typeofexam" ng-repeat="(k,v) in filtersData.typeofexams" ng-value="{{k}}">{{v}}</ion-radio>
            <ion-item class="item submit first" ng-if="page == 'hmdashboard'"><button menu-close class="button icon-left ion-chevron-left button-block button-positive" ng-click="hmdashboardfilters()">Go</button></ion-item>
            <ion-item class="item submit first" ng-if="page == 'dashboard'"><button menu-close class="button icon-left ion-chevron-left button-block button-positive" ng-click="dashboardfilters()">Go</button></ion-item>
            <ion-item class="item submit first" ng-if="page == 'teacherdashboard'"><button menu-close class="button icon-left ion-chevron-left button-block button-positive" ng-click="teacherdashboardfilters()">Go</button></ion-item>
            <ion-item class="item submit first" ng-if="page == 'studentdashboard'"><button menu-close class="button icon-left ion-chevron-left button-block button-positive" ng-click="studentdashboardfilters()">Go</button></ion-item>
            <ion-item class="item submit first" ng-if="page == 'studentoveralldashboard'"><button menu-close class="button icon-left ion-chevron-left button-block button-positive" ng-click="studentoveralldashboardfilters()">Go</button></ion-item>            
            </ion-list>
         </form>
      </ion-content>
   </ion-side-menu> -->
</ion-side-menus>