      <ion-view id="userMessagesView" title="<div class='msg-header-username'>{{toUser.name}}</div>">
        
        <div class="loader-center" ng-if="!doneLoading">
            <div class="loader">
              <i class="icon ion-loading-c"></i>
            </div>
        </div>
      
          <ion-content delegate-handle="userMessageScroll" class="stable-bg">
            
              <div ng-repeat="message in messages" class="message-wrapper">
      
                  <div ng-if="user.uid !== message.userId">

                      <div class="chat-bubble left">
      
                          <div class="message bold" ng-bind-html="message.text | nl2br">
                          </div>
      
                          <div class="message-detail">
                              <span ng-hide="message.type == 'single'">{{message.name}},</span>
                              <span am-time-ago="message.date"></span>
                          </div>
      
                      </div>
                  </div>
      
                  <div ng-if="user.uid === message.userId">
                                      
                      <div class="chat-bubble right">
      
                          <div class="message bold" ng-bind-html="message.text | nl2br">
                          </div>
      
                          <div class="message-detail">
                              <span ng-hide="message.type == 'single'">{{message.name}},</span>
                              <span am-time-ago="message.date"> </span>
                          </div>
      
                      </div>
                    
                  </div>
      
                  <div class="cf"></div>
      
              </div>
          </ion-content>
          <ion-footer-bar align-title="left">
            <label class="title">
              <input type="text" placeholder="Send {{toUser.name}} a message" ng-model="input.message" class="add-post-text">
            </label>
            <button type="submit" class="send-button button button-icon icon-center button-clean ion-android-send" ng-click="sendMessage()" ng-disabled="!input.message || input.message === ''">
            </button>
          </ion-footer-bar>
<!--           <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)">
             <div class="row bar bar-footer">
                <input type="text" class="col col-80 add-post-text" placeholder="Send {{toUser.name}} a message" ng-model="input.message" maxlength="1500">
                <button class="col send-button button button-icon icon-center button-clean ion-android-send" type="submit" ng-disabled="!input.message || input.message === ''"></button>
            </div>
          </form> -->
          
      </ion-view>