<ion-view cache-view="false" title="{{title}}">
   <ion-nav-buttons side="right">
   <button ng-show="dashboard" class="button button-icon button-clear ion-funnel" ng-click="filterData()"></button>
   </ion-nav-buttons>
   <ion-content class="has-header" >
      <ion-refresher pulling-text="Pull to refresh" on-refresh="getMarksData(true)"></ion-refresher>
      <ion-list ng-show="empty">
         <ion-item class="item item-icon-left"><i class="icon ion-ios-list positive"></i>Dashboard is empty</ion-item>
      </ion-list>
      <chart id="tpassfailstatus" config="tpassfailConfig" class="noclick"></chart>
      <chart id="tsubjects" config="tsubjectsConfig"></chart>
      <chart id="tgrades" config="tgradeConfig"></chart>
      <ion-list ng-show="dashboard">
         <div class="collection-repeat-container"><ion-item class="item-icon-left" href="#"><i class="icon ion-trophy positive"></i> <h2><span style="color:#aaa;font-weight:bold">Class - Topper</span> <span class="badge">Total</span></h2></ion-item></div>
         <span ng-repeat="(k, stoppers) in toppers">
         <ion-item class="item-icon-left" ng-repeat="v in stoppers" href="#/app/studentdashboard/{{v.class}}/{{v.studentid}}/{{v.student}}"><i class="icon ion-person positive"></i> <h2>{{k.replace("_", " ")}} - {{v.student}} <span class="badge badge-positive">{{v.mark}}</span></h2></ion-item>
         </span>
      </ion-list>
   </ion-content>
</ion-view>
