<div class="widget-wrapper">
	         <div class="content-wrapper">
	         	<div class="form-wrapper" ng-show="import"><br>
					<form role="form" ng-submit="csvImport(csv.result)">   	   
					   <legend><center>Import Teachers</center></legend><br>
					    <center><ng-csv-import content="csv.content" header="true" separator=";" result="csv.result"></ng-csv-import></center><br>
					    <center><button type="submit" class="btn btn-info"><i class="fa fa-download"></i> Import</button></center>
					</form>
	         	</div>
	         	<div class="message center" ng-if="msg != ''">
				  <h1>{{msg}}</h1>
				  <button ng-if="msg != 'Creating Teacher...'" type="button" class="btn btn-info" ng-click="reset()"><i class="fa fa-user"></i> Add another Teacher</button>
	         	</div>
	         	<span ng-if="msg == ''" ng-hide="import">
	            <div class="breadcrumb-wrapper" style="">
	               <ul class="breadcrumb clearfix">
	               <li ng-if="student.name">{{student.name}}</li>
	               <li ng-if="student.id">{{student.id}}</li>
	               </ul>
	               <div class="steps">{{step}}/3</div>
	            </div>
	            <div class="form-wrapper">
	               <form>
	                  <div class="form-content">
			            <div ng-switch="step">
					      <div ng-switch-when="1">
		                  	<div>
		                        <legend>Enter Name And Id</legend>
		                        <div class="row">
								  <div class="col-md-1"><button class="fbtn ibtn fa" ng-class="{ 'fa-plus-square-o' : k == 0, 'fa-trash-o' : k !== 0}" ng-click="(k == 0) ? createSubject(): removeSubject(k)"></button></div><div class="col-md-6"><input placeholder="Name" ng-model="student.name" type="text"></div>
								  <div class="col-md-5"><input placeholder="Id" ng-model="student.id" type="text"></div>
								</div>
		                     </div>
					      </div>
					      <div ng-switch-when="2">
		                     <div>
		                        <legend> Enter Student Sex</legend>
		                        <input type="radio" name="sex" value="male">Male<br>
                                <input type="radio" name="sex" value="female">Female
		                     </div>
					      </div>
					      <div ng-switch-when="3">
		                  	<div>
		                        <legend>Enter Student Address</legend>
								<div class="row" ng-repeat="(k,v) in teacher.subjects">
								  <div class="col-md-1"><button class="fbtn ibtn fa" ng-class="{ 'fa-plus-square-o' : k == 0, 'fa-trash-o' : k !== 0}" ng-click="(k == 0) ? createSubject(): removeSubject(k)"></button></div>
								  <div class="col-md-11"><input placeholder="Enter  Student Address" ng-model="teacher.subjects[k].subject" type="text"></div> 
								</div>
		                    </div>
					      </div>
					      <div ng-switch-when="4">
		                     <div>
		                        <legend> Enter parent name</legend>
		                        <input ng-model="parent.name" type="text">
		                     </div>
					      </div>
					      <div ng-switch-when="5">
		                     <div>
		                        <legend> Enter parent phone number</legend>
		                        <input ng-model="parent.phone" type="text">
		                     </div>
					      </div>
					      <div ng-switch-when="6">
		                  	<div>
		                        <legend>Enter Common Subjects</legend>
		                        <div class="row" ng-repeat="(k,v) in teacher.subjects">
								  <div class="col-md-1"><button class="fbtn ibtn fa" ng-class="{ 'fa-plus-square-o' : k == 0, 'fa-trash-o' : k !== 0}" ng-click="(k == 0) ? createSubject(): removeSubject(k)"></button></div><div class="col-md-6"><input placeholder="Subjects" ng-model="teacher.subjects[k].subject" type="text"></div>
								  <div class="col-md-5"><input placeholder="Teacher" ng-model="teacher.subjects[k].class" type="text"></div>
								</div>
		                     </div>
					      </div>
					   </div>
	                  </div>
	                  <button id="nextBtn" class="fbtn fa fa-arrow-circle-o-right" ng-click="next(step)"></button>
	                  <button ng-if="step != 1" id="backBtn" class="fbtn fa fa-arrow-circle-o-left" ng-click="previous(step)"></button>
	               </form>
	            </div>
	            </span>
	         </div>
	      </div>
	   </div>
	</div>
	</section>