<ion-view title="Home" ng-controller="LoginCtrl">
   <ion-content class="has-header home">
   <div class="row"><div class="col" style="text-align:right;font-size:30px;padding-right:10px; cursor:pointer">
   <i class="icon ion-edit" ng-click="showUsers()"></i>
   </div></div>
      <div class="row">
         <div id="logo" class="col center">
            <h1><span><i class="icon ion-leaf balanced"></i><i class="icon ion-university positive"></i></span></h1>
            <h4><span>Green</span><span>Ed</span></h4>
            <div>The Future of Education</div>
         </div>
      </div>
      <form>
         <div class="list list-inset">
            <label class="item item-input"><i class="icon ion-person positive"></i> <input class="custom-icon" type="text" ng-model="user.email" placeholder="Username"></label>
            <label class="item item-input last"><i class="icon ion-locked positive custom-icon"></i> 
            <input class="custom-icon" type="password" ng-model="user.password" placeholder="Password"></label>
            <button class="button button-block button-positive" ng-click="login()">Log in</button>
         </div>
      </form>
   </ion-content>
</ion-view>
