   <ion-view cache-view="false" title="{{title}}" hide-nav-bar="filterStatus">
   	<div class="bar bar-header item-input-inset header-search bar-positive padding" ng-show="filterStatus">
  	<ion-search placeholder="Search" filter="query.search"></ion-search>
  	<div class="buttons buttons-right header-item"><span class="right-buttons">
	<button class="button button-icon button-clear ion-ios-search" ng-click="filterToggle()"></button>
<!-- 	<button ng-show="tab == 'user'" class="button button-icon button-clear ion-ios-people" ng-click="allowEdit()"></button>
    <button ng-if="tab == 'user'" ng-show="group" class="button button-icon button-clear ion-android-send" ng-click="submitGroup()"></button> -->
    </span></div>
	</div>
	<ion-nav-buttons side="right">
	<button class="button button-icon button-clear ion-ios-search" ng-click="filterToggle()"></button>
<!--     <button  ng-if="tab == 'user'" class="button button-icon button-clear ion-ios-people" ng-click="allowEdit()"></button>    
    <button  ng-if="tab == 'user'" ng-show="group" class="button button-icon button-clear ion-android-send" ng-click="submitGroup()"></button> -->
    </ion-nav-buttons>
        <ion-tabs tabs-type="tabs-icon-only" class="positive">
            <ion-tab class="positive" title="Messages" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline" on-select="getMessages()">
                <ion-content has-header="true" padding="true">
                <ion-refresher pulling-text="Pull to refresh" on-refresh="getMessages()"></ion-refresher>
                <div class="list">
<a class="item item-icon-left" href="#/app/messages/{{message.chatname}}/{{message.to[0].id}}/{{message.to[0].name}}/{{message.userId}}/{{message.name}}/{{message.type}}" ng-repeat="message in messages | filter:query.search.value">
    <i class="icon ion-chatbubble-working"></i>
    {{message.to[0].name}}
    <span ng-if="message.seencount > 0" class="badge badge-assertive">{{message.seencount}}</span>
  </a>
  <a ng-show="empty" class="item item-icon-left" href="#">
    <i class="icon ion-android-textsms"></i>
    No Messages found {{Object.keys(messages).length}}
  </a>
</div>
                </ion-content>
            </ion-tab>

            <ion-tab class="positive" title="People" icon-on="ion-ios-personadd" icon-off="ion-ios-personadd-outline" on-select="getUsers()">
                <ion-content class="has-header padding">
                <ion-refresher pulling-text="Pull to refresh" on-refresh="getUsers()"></ion-refresher>
                <div class="list">
  <a ng-click="toMessageBox(contact)" ng-class="group ? 'item-toggle': ''" class="item item-icon-left" ng-repeat="contact in contacts | filter:query.search.value | orderBy:['role','toName']">
  <i class="icon positive" ng-class="{'ion-easel' : contact.role == 'class', 'ion-person' : contact.role == 'student', 'ion-ios-body' : contact.role == 'teacher', 'ion-android-person' : contact.role == 'hm'}"></i>
     {{contact.toName}}
<!--      <label class="toggle toggle-positive" ng-show="group">
       <input type="checkbox" ng-model="to[class.name]">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label> -->
  </a>
  <br/><br/>
</div>
                </ion-content>
            </ion-tab>
        </ion-tabs>
    </ion-view>