<ion-view cache-view="false">
<ion-nav-title>{{title}} Report</ion-nav-title>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Pull to Refresh!</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="getMarksData()">
    </ion-refresher>
  <chart id="ssubjects" config="ssubjectsConfig" ng-if="dashboardStatus != 'empty'"></chart>
  <chart id="sattendance" config="sattendanceConfig" ng-if="dashboardStatus != 'empty'" class="noclick"></chart>
  <div class="list">
  <a class="item item-icon-left" href="#" ng-if="dashboardStatus == 'empty'">
    <i class="icon ion-compose positive"></i>
    No marks added yet
  </a>
  <a class="item item-icon-left" href="#" ng-if="dashboardStatus != 'empty'">
    <i class="icon ion-plus-circled positive"></i>
    Total
    <span class="badge badge-positive">{{mark.total}}</span>
  </a>
  <a class="item item-icon-left" ng-show="mark.grade" href="#" ng-if="dashboardStatus != 'empty'">
    <i class="icon ion-ribbon-a positive"></i>
    Grade
    <span class="badge badge-positive">{{mark.grade}}</span>
  </a>
  <a class="item item-icon-left" ng-show="mark.rank" href="#" ng-if="dashboardStatus != 'empty'">
    <i class="icon ion-trophy positive"></i>
    Rank
    <span class="badge badge-positive">{{mark.rank}}</span>
  </a>
  <a class="item item-icon-left" ng-show="mark.status" href="#" ng-if="dashboardStatus != 'empty'">
    <i class="icon ion-university positive"></i>
    Status
    <span class="badge badge-positive">{{mark.status}}</span>
  </a>  
   <a class="item item-icon-left" ng-show="mark.status" href="#" ng-if="dashboardStatus != 'empty'">
    <i class="icon ion-easel positive"></i>
    Class
    <span class="badge badge-positive">{{mark.standard}}{{mark.division}}</span>
  </a>  
  <a class="item item-icon-left" ng-show="mark.remark" href="#" ng-if="dashboardStatus != 'empty'">
    <i class="icon ion-edit positive"></i>
    Remark
    <span class="badge badge-positive">{{mark.remark}}</span>
  </a>    
  <a listtodash id="{{mark.studentid}}-{{mark.student}}" ng-if="dashboardStatus != 'empty'" class="item item-icon-left" href="#/app/studentoveralldashboard">
    <i class="icon ion-stats-bars positive"></i>
    View Overall report
  </a>
  <a class="item item-icon-left" href="#/app/studentprofile/{{studentid}}">
    <i class="icon ion-person positive"></i>
    View Profile
  </a>  
  </div>
  </ion-content>
</ion-view>