<ion-view cache-view="false" ng-init="getWall()">
   <ion-nav-title>{{title}}</ion-nav-title>
   <ion-nav-buttons side="right"><button ng-show="add" class="button button-icon button-clear ion-ios-plus-outline" ng-click="addpost()"></button></ion-nav-buttons>
   <ion-content>
   <ion-refresher pulling-text="Pull to refresh" on-refresh="getWall()"></ion-refresher>
   <div class="list card" ng-repeat="(wk,wall) in walls">

  <div class="item item-avatar">
    <i class="icon ion-person wall-title positive"></i>
    <h2>{{wall.user}}</h2>
    <p>{{wall.date| date:'hh:mm a, MMM dd yyyy'}}</p>
  </div>

  <div class="item item-image">
    <img ng-click="showImage('{{base}}{{pic}}')" class="full-image" src="{{base}}{{pic}}" ng-repeat="pic in wall.pictures">
  </div>
  <a class="item" href="#">
    {{wall.message}}
  </a>
  <a class="item item-icon-right positive" href="#">
    <i ng-hide="wall.liked" ng-click="like(wk, '{{wall._id}}', 'like')" class="icon ion-thumbsup"></i>
    <i ng-show="wall.liked" ng-click="like(wk, '{{wall._id}}','dislike')" class="icon ion-thumbsdown assertive"></i>
    {{wall.likecount}} {{wall.likecountVal}}
  </a>

</div>
   </ion-content>
</ion-view>