<ion-view view-title="Profile" class="category-list" hide-nav-bar="true">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </div>
    </ion-header-bar>
    <ion-content id="page-profile" class="header-background" scroll="false">
        <div class="box">
            <div class="info">
                <div class="avatar">
                    <img src="img/ionic.png" alt="avatar" />
                </div>
                <h2 class="name">Qatar</h2>
                <div class="position">City Guide</div>
                <div class="links">
                    <div class="row">
                        <div class="col">
                            <div class="number">18</div>
                            <p>Followers</p>
                        </div>
                        <div class="col">
                            <div class="number">47</div>
                            <p>Following</p>
                        </div>
                        <div class="col">
                            <div class="number">10</div>
                            <p>Like</p>
                        </div>
                        <div class="col">
                            <div class="number">15</div>
                            <p>Favorites</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>